@font-face {
    font-family: 'Speedee';
    src: url('Speedee.ttf');
}

header, .apresentacao, .cardapio, .funcionamento, footer {
    color: white;
}

body {
    margin: 0px;
    font-family: Speedee;
}

header {
    height: 90px;
    background-color: #D90D0D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
}

header > h1 {
    margin-left: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20pt;
}

header > nav {
    margin-right: 50px;
}

header > nav > a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: #F2BB16;
    border-bottom: 3px solid white;
}

.apresentacao > div > img {
    width: 100%;
    transform: rotate(10deg);
}

.apresentacao > div > h2 {
    font-size: 25pt;
}

.apresentacao > div > h3 {
    font-size: 16pt;
}

.cardapio {
    background-color: #A65526;
    padding: 30px;
    text-align: center;
}

.cardapio > h2 {
    margin: 0;
}

.produtos {
    display: flex;
    justify-content: center;
    background-color: #67730A;
    margin-top: 30px;
    padding: 40px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px#00000036;
}

.produtos > div > img {
    width: 100%;
}

.produtos > div {
    background-color: #B9BF11;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px#00000036;
}

.funcionamento {
    background-color: #F2BB16;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcionamento > h2 {
    margin: 0;
}

.contato {
    display: grid;
    justify-content: center;
    text-align: center;
}

.contato > img {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    height: 20px;
    text-align: center;
    padding: 7px;
}